services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: seamless-auth
    ports:
      - '5312:5312'
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      DB_HOST: db
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ['CMD', 'node', 'dist/healthCheck.js']
      interval: 30s
      timeout: 5s
      retries: 3

  postgres:
    image: postgres:16
    restart: always
    container_name: db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
