services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    ports:
      - '5312:5312'
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - postgres
    healthcheck:
      test: ['CMD', 'node', 'dist/healthCheck.js']
      interval: 30s
      timeout: 5s
      retries: 3

  postgres:
    image: postgres:15
    restart: always
    container_name: db
    ports:
      - '5432:5432'
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
